header {
  background-color: var(--white);
}

nav {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* .navbar input {
  width: 360px;
  padding: 0.4rem;
} */

.navLinks.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  width: min(100vw, 500px)!important;
  flex-direction: column;
  display: none;
  background-color: transparent;
  backdrop-filter: blur(10px);
}


.menu__button {
  display: none;
}

@media (max-width: 800px) {
}

@media (max-width: 1000px) {
  /* .sidebar{
    width: 100vw;
  } */
  .isMobile {
    display: none!important; 
    /* change this to a react hook isMobile later */
  }
  .menu__button {
    display: block;
    /* same react hook */
  }
}