@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  /* --charcoal: hsla(210, 25%, 22%, 1);
  --bistre: hsla(33, 23%, 15%, 1);
  --buff: hsla(31, 62%, 68%, 1);
  --lapis-lazuli: hsla(211, 35%, 42%, 1);
  --night: hsla(164, 71%, 4%, 1);

  --gradient-top: linear-gradient(0deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-right: linear-gradient(90deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-bottom: linear-gradient(180deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-left: linear-gradient(270deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-top-right: linear-gradient(45deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-bottom-right: linear-gradient(135deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-top-left: linear-gradient(225deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-bottom-left: linear-gradient(315deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-radial: radial-gradient(#2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff); */


  /* CSS HEX */
  --viridian: #6b9080ff;
  --raisin-black: #272727ff;
  --wisteria: #cb9fd2ff;
  --white: #fcfffdff;
  --black: #000000ff;

  --bg-color: var(--white);
  --bg-emphasis-color: var(--black);
  --text-color: var(--black);
  --text-emphasis-color: var(--white);


  --secondary-color: var(--raisin-black);
  --accent-1: var(--viridian);
  --accent-2: var(--wisteria);
  --accent-3: var(--raisin-black);

  --f-text-color: var(--black);
  --f-text-secondary-color: rgba(0, 0, 0, 0.65);
  --f-primary-btn-bg-color: #000000;
  --f-primary-btn-text-color: #FFFFFF;
  --f-form-input-bg-color: rgba(0, 0, 0, 0.08);
  --f-form-select-hover-bg-color: rgba(0, 0, 0, 0.16);
  --f-form-placeholder-text-color: rgba(0, 0, 0, 0.5);
  --f-form-error-bg-color: #972121;
  --f-form-error-text-color: #FFFFFF;
  --f-badge-text-color: #000000;
  --f-badge-bg-color: rgba(0, 0, 0, 0.08);
  --f-emphasis-btn-bg-color: #000000;
  --f-emphasis-btn-text-color: #FFFFFF;


  /* used */
  --margin: 5rem;
  --nav-gap: 1.5rem;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
}

/* Background Colors */
#hero {
  background-color: var(--bg-color);
}

/* Background Colors */


.pointer {
  cursor: pointer
}

/* Hero Section */
#hero {
  position: relative;
  padding: 0 var(--margin);
  height: 90vh;
  overflow: hidden;
  /* overflow: hidden; hides the image remains */

  color: black;
}

/* height: 1031px; w=687 */

#heroImage {
  display: block;
  position: relative;
  transform-origin: top left;
  transform: scale(0.7);
  left: clamp(1%, 50vw, 90%);
  /* left: calc(clamp(0%, 50vw, 60vw) - (50% * 0.2)); */
}

.image {
  position: absolute;
  display: inline-block;
}



.hero__caption {
  z-index: 1;
  position: relative;
  top: 10rem;
}

.hero__caption .caption {
  font-weight: 400;
  font-size: 5rem;
  line-height: 5rem;
}

.hero__caption p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 300;
}



/* Hero Section */