@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* --charcoal: hsla(210, 25%, 22%, 1);
  --bistre: hsla(33, 23%, 15%, 1);
  --buff: hsla(31, 62%, 68%, 1);
  --lapis-lazuli: hsla(211, 35%, 42%, 1);
  --night: hsla(164, 71%, 4%, 1);

  --gradient-top: linear-gradient(0deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-right: linear-gradient(90deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-bottom: linear-gradient(180deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-left: linear-gradient(270deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-top-right: linear-gradient(45deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-bottom-right: linear-gradient(135deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-top-left: linear-gradient(225deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-bottom-left: linear-gradient(315deg, #2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff);
  --gradient-radial: radial-gradient(#2B3947ff, #30281Eff, #E0B07Bff, #456990ff, #03120Eff); */

  /* CSS HEX */
  --viridian: #f3ffe3;
  /* --viridian: #6b9080ff; */
  --raisin-black: #272727ff;
  --wisteria: #cb9fd2ff;
  --white: #fcfffdff;
  --black: #000000ff;

  --bg-color: var(--white);
  --bg-emphasis-color: var(--black);
  --text-color: var(--black);
  --text-emphasis-color: var(--white);

  --secondary-color: var(--raisin-black);
  --accent-1: var(--viridian);
  --accent-2: var(--wisteria);
  --accent-3: var(--raisin-black);

  --f-text-color: var(--black);
  --f-text-secondary-color: rgba(0, 0, 0, 0.65);
  --f-primary-btn-bg-color: #000000;
  --f-primary-btn-text-color: #ffffff;
  --f-form-input-bg-color: rgba(0, 0, 0, 0.08);
  --f-form-select-hover-bg-color: rgba(0, 0, 0, 0.16);
  --f-form-placeholder-text-color: rgba(0, 0, 0, 0.5);
  --f-form-error-bg-color: #972121;
  --f-form-error-text-color: #ffffff;
  --f-badge-text-color: #000000;
  --f-badge-bg-color: rgba(0, 0, 0, 0.08);
  --f-emphasis-btn-bg-color: #000000;
  --f-emphasis-btn-text-color: #ffffff;

  /* used */
  --margin: 5rem;
  /* --margin: min(1vw, 30px);*/
  --nav-gap: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

body {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#body {
  min-height: 100vh;
}
/* Background Colors */
#hero {
  background-color: var(--bg-color);
}

/* Background Colors - end */

.pointer {
  cursor: pointer;
}

section {
  padding-left: var(--margin);
  padding-right: var(--margin);
  padding-bottom: 40px;
}

/* Hero Section */
#hero {
  color: black;
  display: flex;
  justify-content: space-between;
  min-height: clamp(500px, 90vh, 800px);
  position: relative;
  overflow: hidden;
}

#heroImage {
  display: inline-block;
  transform-origin: top left;
  transform: scale(0.7);
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.image {
  position: absolute;
  display: inline-block;
}

.hero__caption {
  z-index: 1;
  position: relative;
  top: 10rem;
}

.hero__caption .caption {
  font-weight: 400;
  font-size: 5rem;
  line-height: 5rem;
}

.hero__caption p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 300;
}

/* Hero Section - end */

/* Statistics Section */
#statistics {
  background-color: var(--accent-1);
}
#statistics > h1 {
  padding-top: 5%;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
} /* later: change this to be uniform with all other section headers */
.stats__card h1, .stats__card p {
  text-align: center;
}

.statsParent {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
.statsParent > div {
  flex-basis: 300px;
  max-width: 400px;
  flex-grow: 1;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border: 2px solid var(--bg-emphasis-color);
  border-radius: 10rem;
  color: var(--text-color);
  cursor: pointer;
  /* transition: background-color 0.3s, color 0.3s; */
}

.statsParent > div:hover {
  background-color: var(--bg-emphasis-color);
  color: var(--text-emphasis-color);
  transform: scale(1.05);
}

@media (max-width: 800px) {
  #heroImage {
    filter: blur(20px);
  }
}
@media (max-width: 600px) {
  #hero {
    max-height: 100vh;
  }
  #heroImage {
    position: absolute;
    top: 0;
    left: -10%;
    transform: scale(0.7), translate(-50%, -50%);
    z-index: 0;
  }
  .hero__caption .caption {
    font-weight: 600;
    font-size: 10vw;
    line-height: 10vw;
  }
  .hero__caption p {
    font-size: 6vw;
    line-height: 9vw;
    font-weight: 300;
  }
  .statsParent > div {
    max-width: 100%;
    border: none;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1); */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }
}
/* Statistics Section - end */
